.postContent {
  max-width: 100%;
  /* height: 400px; */
  height: auto;
  margin-bottom: 15px;
}

.noImage {
  max-width: 100%;
  /* padding: 0 10px; */
  /* height: auto; */
}

.postContent .postDescContainer {
  padding: 10px;
  font-weight: 400 !important;
}

.postDesc {
  font-size: 24px;
  color: #333;
  padding: 10px 20px;
}

.postContent .postDesc {
  padding: 0 10px;
}

.postManyDesc {
  font-size: 15px;
  color: #333;
  padding: 10px 10px 20px 10px;
}

.postDetail .postManyDesc {
  padding: 10px 10px 15px 10px !important;
}

.postImage {
  width: 100%;
  height: 360px;
  object-fit: cover;
  margin-bottom: 10px;
}

.postBackground {
  position: relative;
  /* background-color: #333; */
  color: #fff;
  width: 100%;
  height: 380px;
  box-sizing: border-box;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
}

.postBackground .postBgContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  box-sizing: border-box;
  transform: translateY(-50%);
  padding: 30px;
}

.postBackground .postBgContainer p {
  font-size: 22px;
  text-align: center;
}

.postBackground .postCoverImg {
  width: 100%;
  height: 50%;
}

.postBackground .postCoverImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postBackground .postProfileImg {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  border: 5px solid #fff;
  text-align: center;
}

.postBackground .postProfileImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.postBackground .postImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.postBackground .imagesContainer {
  padding: 5px 10px;
  display: flex;
  gap: 2px;
  min-height: 340px;
}

.postBackground .imagesContainer .postImage21,
.postImage22 {
  max-width: 50%;
  min-width: 50%;
  max-height: 340px;
  min-height: 340px;
  border-radius: 8px;
  object-fit: cover;
}

.postBackground .imagesContainer .leftImage {
  flex: 2;
  min-height: 342px;
  min-width: 66%;
  max-width: 66%;
}

.postBackground .imagesContainer .rightImages {
  flex: 1;
  min-height: 345px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.postBackground .imagesContainer .postImage31 {
  border-radius: 8px;
  min-height: 342px;
  max-height: 342px;
  min-width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.postBackground .imagesContainer .postImage32,
.postImage33 {
  max-height: 170px;
  min-height: 170px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
}

.postBackground .imagesContainer .postImage4 {
  min-width: 49%;
  max-width: 49%;
  min-height: 170px;
  max-height: 170px;
  border-radius: 8px;
  object-fit: cover;
}

.postBackground .imagesContainer .overflowText {
  position: absolute;
  width: 47%;
  height: 170px;
  top: 177px;
  border-radius: 8px;
  left: 49.5%;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  background-color: #cccdcf;
  color: white;
  opacity: 0.8;
}

.sharedPost {
  padding: 0 10px;
}

.sharedPostContainer {
  border: 1px solid lightgray;
  border-radius: 12px;
}

.sharedPost .sharedPostImages {
  min-width: 100%;
  max-height: 350px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  display: flex;
  cursor: pointer;
}

.sharedPost .sharedPostImages .sharedPostImage {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.sharedPost .sharedPostImages .sharedPostImage21, .sharedPostImage22 {
  max-height: 100%;
  max-width: 50%;
  object-fit: cover;
}

.sharedPost .sharedPostImages .sharedPostImage3{
  max-height: 100%;
  max-width: 33%;
  object-fit: cover;
}

.sharedPost .sharedPostImages .sharedPostImage4{
  max-height: 180px;
  min-width: 49%;
  object-fit: cover;
}

.sharedPost .sharedPostImages .sharedPostImage5{
  max-height: 180px;
  min-width: 100%;
  object-fit: cover;}

.sharedPost .sharedPostImages div {
  max-height: 180px;
  min-width: 49%;
  object-fit: cover;
}

.sharedPost .sharedPostImages .imageContainer4 {
  position: relative;
}

.sharedPost .sharedPostImages .sharedPostOverFlowImages {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cccdcf;
  color: white;
  opacity: 0.7;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sharedPost .sharedPostUser {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.sharedPost .sharedPostUser .sharedPostUserAvatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.sharedPost .sharedPostUser .sharedPostUserInfo h2 {
  font-size: 16px;
  font-weight: 600;
  width: auto;
  color: #080708;
}

.sharedPost .sharedPostUser .sharedPostUserInfo .postStatus {
  font-size: 11px;
  color: #3339;
  margin-top: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sharedPost .sharedPostUser .sharedPostUserInfo span {
  font-size: 11px;
  font-weight: normal;
  color: #9a9b9e;
}

.sharedPost .sharedPostContent {
  padding: 0 20px 10px 20px;
}

@media screen and (max-width: 1024px) {
  .postBackground {
    /* display: flex;
    align-items: center; */
    transform: none;
  }

  .sharedPost .sharedPostImages {
    min-width: 100%;
    max-height: 450px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
  }
  
  .sharedPost .sharedPostImages .sharedPostImage {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}
