.profileBody {
  display: flex;
  gap: 8px;
  width: 100%;
  background-color: #F0F2F5;
	padding: 20px 0px;
}

.profile {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F0F2F5;
  opacity:1;
}
