.cartPreview {
  position: absolute;
  top: 35px;
  right: 0;
  width: 450px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 8px;
}

.cartPreviewContainer {
  padding: 0;
}

.cartPreviewHeader {
  padding: 10px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.cartPreviewProducts ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cartPreview .cartPreviewProducts ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cartPreview .cartPreviewProducts ul li:hover {
  background-color: #F8F8F8;
}

.cartPreview .cartPreviewProducts ul li .cartProductLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0 10px 10px;
}

.cartPreview .cartPreviewProducts ul li img {
  width: 45px;
  height: 44px;
  object-fit: cover;
}

.cartPreview .cartPreviewProducts ul li span {
  color: #000;
  align-self: flex-start;

}

.cartProductRight {
  color: #000;
  padding-right: 10px;
}

.hide {
  display: none;
}