.commentSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.commentSection .viewMoreComments {
  padding: 10px 15px 0 15px;
}

.commentSection .viewMoreComments span {
  color: #65676b;
  font-weight: 500;
  font-size: 15px;
}

.commentSection .viewMoreComments span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.commentSection .singleComment .commentContent {
  display: flex;
  gap: 10px;
  padding: 10px 15px 0 15px;
}

.commentSection .commentUserAva {
  width: 35px;
  height: 35px;
}

.commentSection .commentUserAva img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.commentSection .commentDetail {
  display: flex;
  flex-direction: column;
  position: relative;
}

.commentSection .commentDetail .commentInfoWrapper {
  display: flex;
  gap: 10px;
}

.commentSection .commentDetail .commentInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px 16px;
  border-radius: 20px;
  background-color: #f0f2f5;
  min-width: 120px;
  align-self: flex-start;
  position: relative;
}

.commentSection .commentDetail .commentInfo h2 {
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.commentSection .commentOptionsSection {
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: relative
}

.commentSection .commentOptionsSection:hover {
  background-color: #f0f2f5;
}

.commentOptions {
  position: absolute;
  left: -130px;
  top: 30px;
  width: 300px;
  background-color: #ffffff;
  z-index: 2000;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
}

.commentOptions ul {
  display: flex;
  flex-direction: column;
  padding: 8px;

}

.commentOptions ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  padding: 5px 10px 10px 10px;
}

.commentOptions ul li:hover {
  background-color: #F0F2F5;
}

.commentSection .reactComment {
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
  position: relative;
}

.commentSection .reactComment span {
  font-size: 13px;
  color: #6e7074;
  font-weight: bold;
  cursor: pointer;
}

.commentSection .reactComment span:hover {
  text-decoration: underline;
}

.commentSection .reactComment .commentTimeAgo {
  font-weight: normal !important;
  font-size: 12px !important;
}

.comment .replyCommentSection {
  position: relative;
}

.comment .replyComments {
  width: 100%;
  padding: 10px 10px 0 60px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment .viewAllReplies {
  padding: 5px 0 5px 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #666666;
}

.comment .viewAllReplies span {
  font-size: 16px;
  font-weight: 500;
}

.comment .viewAllReplies span:hover {
  text-decoration: underline;
}

.commentReactions {
  position: absolute;
  top: -45px;
  left: 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 230px;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  z-index: 10;
}

.commentReactionsHide {
  position: absolute;
  top: -45px;
  left: 0px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 230px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  background-color: #f2f3f5;
  border-radius: 25px;
  padding: 10px;
  z-index: 10;
}

.commentLike:hover + .commentReactionsHide {
  visibility: visible;
  opacity: 1;
}

.commentReactDisplay {
  position: absolute;
  right: 10px;
  bottom: -20px;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38) !important;
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38) !important;
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
}

.commentReactDisplay .commentReactPeople {
  position: absolute;

  background-color: red;
  top: 30px;
  left: 0;
}

.reactCount {
  margin-left: -5px;
  font-size: 15px;
  color: gray;
  font-weight: 400;
}

.heartIconBg {
  background-color: #ea223d;
}

.hahaIconBg {
  background-color: #fee86e;
}

.likedIcon,
.likedText {
  color: #056be1 !important;
}

.heartedText {
  color: #ea223d !important;
}

.hahaedText {
  color: #fbdd66 !important;
}

.wowedText {
  color: #eaa823 !important;
}

.sadedText {
  color: #eaa823 !important;
}

.angriedText {
  color: #dd6b0e !important;
}
