.featuredProduct {
  width: 100%;
}

.featuredProduct .featuredProductContainer {
  
}

.featuredProduct .featuredTitle {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}

.featuredProduct ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}



@media screen and (max-width: 1024px) {
  .featuredProduct ul li {
    max-width: 30%;
  }
}