.feed {
  flex: 4.5;
  background-color: #F0F2F5;
  max-width: fit-content;
}

@media screen and (max-width: 1024px) {
  .feed {
    max-width: 60%;
  }

  
}

@media screen and (min-width: 1400px) {
  .feed {
    flex: 4.5;
  }
}